@import './mixins';

.taxCalculator { 
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @extend %box-sizing;
}

.results, 
.formQuestions { 
    width: 50%;
    padding: 20px;
	margin: 10px auto;
	@extend %box-sizing;
	border: 1px solid #d9d9d9;

	h2 {
		margin: 0;
	}

	.question {
		margin: 20px 0;
		clear: both;
		label { 
			display: block; 
			width: 50%;
			float: left;
		}
	
		.form-input { 
			padding: 15px;
			@include border-radius;
			border: 1px solid #d9d9d9;
			display: block;
			margin-top: 5px;
			width: 50%;
			height: 20px;
			@extend %box-sizing;
		}
	
		.checkbox {
			width: 20px;
			height: 20px;
			margin-top: 0;
		}
	}
}

.results { 
    display: none;
    background: #f1f1f1; 
}

.btn { 
	background: #4CAF50;
	font-weight: bold;
	text-align: center;
	width: 100%; 
	display: inline-block; 
	cursor: pointer;
	@include border-radius;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border: 0;
	outline: 0;
	&:hover { background: #333; }
}

.errorMessage { 
	color: #e43c3c; 
	font-weight: bold; 
	display: none;
	margin: -10px 0 10px;
	&.show { display: block; }
}
